page-image-component {

}

.horiontal-scroll{
  
    background:black;
}

 .image-placeholder{
float:left;
height:inherit;
width:25em;
}

.image-placeholder img {
    height:inherit;
    width:inherit;
}